body {
	background-image: url(../img/pregunta.jpg);
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
}

#comenzarJuego:hover {
	transform: scale(1.1);
}

#espacioRespuesta {
	max-width: 70vw;
	margin: auto;
}